*, ::after, ::before {
  box-sizing: border-box;
  margin: 0;

}

.html {
  display: flex;
  font-family: sans-serif;
  min-height: 100%;
  position: relative;
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  font-weight: 400;
  font-style: normal;
  letter-spacing: -.01em;
  height: inherit;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.row::before {
  content: "";
  display: table;
}

.btn.focus, .btn:focus, .btn:hover,{
  text-decoration: none;
  color:#d7d7d7 ;
  outline: none;
}
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
  color: #999;
 background-color: transparent;
}

.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
   outline: none;
  outline-offset: -2px;
}
//.has-search .form-control-feedback {
//  position: absolute;
//  z-index: 2;
//  display: block;
//  width: 2.375rem;
//  height: 2.375rem;
//  line-height: 2.375rem;
//  text-align: center;
//  pointer-events: none;
//  color: #aaa;
//}
//.has-search .form-control {
//  padding-left: 2.375rem;
//}
