//.ui-component-pageheader>.ui-component-pageheader__visible-print-block+* {
//  display: inline-block;
//  vertical-align: middle;
//  line-height: 33px;
//}
//.ui-component-pageheader>.ui-component-pageheader__visible-print-block+* {
//  display: inline-block;
//  vertical-align: middle;
//  line-height: 33px;
//}
// .ui-component-pageheader__title {
//   margin: 0;
//   font-size: 30px;
//   font-weight: 300;
// }
//.ui-component-accordion__panel.ui-component-accordion__panel_animated {
//  transition: box-shadow .2s ease-out;
//}
//.ui-component-accordion__panel.ui-component-accordion__panel_disabled {
//  border: 1px solid #e6e6e6;
//  pointer-events: none;
//  box-shadow: none;
//  opacity: .65;
//}
//.ui-component-accordion__panel {
//  border: 1px solid #e6e6e6;
//  margin-bottom: 20px;
//  border-radius: 2px;
//  box-shadow: none;
//  cursor: pointer;
//}
//.ui-component-accordion__panel.ui-component-accordion__panel_disabled .heading {
//  border-bottom: none;
//}
//.heading {
//  position: relative;
//  padding: 15px 20px;
//  min-height: 50px;
//  border-bottom: 1px solid #e6e6e6;
//  box-sizing: border-box;
//}
//.heading__title {
//  display: inline-block;
//  font-size: 15px;
//  font-weight: 500;
//  margin-right: 20px;
//}
//.heading__action, .heading__status {
//  display: inline-block;
//  position: absolute;
//}
//.heading__status {
//  right: 66px;
//  padding: 2px 0 0 20px;
//}
//.ui-component-icon, .ui-component-icon *, .ui-component-icon :after, .ui-component-icon :before {
//  box-sizing: border-box;
//}
//.ui-component-icon, .ui-component-icon *, .ui-component-icon :after, .ui-component-icon :before {
//  box-sizing: border-box;
//}
// .ui-component-icon {
//   display: inline-block;
//   line-height: 0;
// }
//.heading__action {
//  right: 0;
//  padding: 0 20px 0 30px;
//  color: #222;
//}
//.heading__action, .heading__status {
//  display: inline-block;
//  position: absolute;
//}
//.heading__action-icon.heading__action-icon_animated {
//  transition: transform .2s ease-out;
//}
//.heading__action-icon.heading__action-icon_active {
//  transform: rotate(-180deg);
//}
//
// .ui-component-icon, .ui-component-icon *, .ui-component-icon :after, .ui-component-icon :before {
//   box-sizing: border-box;
// }
//
// .ui-component-icon {
//   display: inline-block;
//   line-height: 0;
// }
//.ui-component-accordion__panel.ui-component-accordion__panel_animated {
//  transition: box-shadow .2s ease-out;
//}
//.ui-component-accordion__panel.ui-component-accordion__panel_disabled {
//  border: 1px solid #e6e6e6;
//  pointer-events: none;
//  box-shadow: none;
//  opacity: .65;
//}
//.ui-component-accordion__panel.ui-component-accordion__panel_disabled .heading {
//  border-bottom: none;
//}
//.heading {
//  position: relative;
//  padding: 15px 20px;
//  min-height: 50px;
//  border-bottom: 1px solid #e6e6e6;
//  box-sizing: border-box;
//}
//.ui-component-icon, .ui-component-icon *, .ui-component-icon :after, .ui-component-icon :before {
//  box-sizing: border-box;
//}
// .ui-component-icon {
//   display: inline-block;
//   line-height: 0;
// }
//.icon-twilio-success:before {
//  color: #29bc4e;
//}
// .icon-twilio-success:before {
//   content: "i";
// }
//.ui-component-country-flag__button.ui-component-country-flag__button_style_with-flagname {
//  padding-left: 30px;
//  margin-right: 0;
//}
//
//.ui-component-country-flag_us, .ui-component-country-flag_us:active {
//  background-image: url(img/twilio.svg);
//}.ui-component-accordion__panel.ui-component-accordion__panel_animated {
//   transition: box-shadow .2s ease-out;
// }
//.ui-component-accordion__panel {
//  border: 1px solid #e6e6e6;
//  margin-bottom: 20px;
//  border-radius: 2px;
//  box-shadow: none;
//  cursor: pointer;
//}
.ui-component-pageheader>.ui-component-pageheader__visible-print-block+* {
  display: inline-block;
  vertical-align: middle;
  line-height: 33px;
}
.ui-component-pageheader__title {
  margin: 0;
  font-size: 30px;
  font-weight: 300;
}
.upgrade__accordion, .upgrade__accordion--disabled {
  padding-right: 25%!important;
  padding-bottom: 80px!important;
  margin-bottom: 0!important;
}
.ui-component-pageheader__visible-print-block {
  display: none!important;
}
.upgrade__accordion, .upgrade__accordion--disabled {
  padding-right: 25%!important;
  padding-bottom: 80px!important;
  margin-bottom: 0!important;
}
.ui-component-accordion {
  font-family: Whitney SSm A,Whitney SSm B,Helvetica Neue,Helvetica,Arial,sans-serif;
  line-height: 1.42857143;
  font-size: 14px;
}
.ui-component-accordion__panel.ui-component-accordion__panel_animated {
  transition: box-shadow .2s ease-out;
}
.ui-component-accordion__panel.ui-component-accordion__panel_disabled {
  border: 1px solid #e6e6e6;
  pointer-events: none;
  box-shadow: none;
  opacity: .65;
}
.ui-component-accordion__panel.ui-component-accordion__panel_disabled .heading {
  border-bottom: none;
}
.heading {
  position: relative;
  padding: 15px 20px;
  min-height: 50px;
  border-bottom: 1px solid #e6e6e6;
  box-sizing: border-box;
}
.heading__title {
  display: inline-block;
  font-size: 15px;
  font-weight: 500;
  margin-right: 20px;
}
.heading__action, .heading__status {
  display: inline-block;
  position: absolute;
}
.heading__status {
  right: 66px;
  padding: 2px 0 0 20px;
}
.icon-twilio-success:before {
  color: #29bc4e;
}
.ui-component-icon {
  display: inline-block;
  line-height: 0;
}
.heading__action {
  right: 0;
  padding: 0 20px 0 30px;
  color: #222;
}
.heading__action, .heading__status {
  display: inline-block;
  position: absolute;
}
.heading__action-icon.heading__action-icon_animated {
  transition: transform .2s ease-out;
}
.ui-component-accordion__body.ui-component-accordion__body_animated {
  transition: padding .2s ease-out;
}
.ui-component-accordion__body.ui-component-accordion__body_disabled {
  padding: 0 20px;
  opacity: 0;
  height: 0;
  overflow: hidden;
}
.ui-component-accordion__panel.ui-component-accordion__panel_animated {
  transition: box-shadow .2s ease-out;
}
.ui-component-accordion__panel {
  border: 1px solid #e6e6e6;
  margin-bottom: 20px;
  border-radius: 2px;
  box-shadow: none;
  cursor: pointer;
}
.heading__action {
  right: 0;
  padding: 0 20px 0 30px;
  color: #222;
}
.heading__action-icon.heading__action-icon_animated {
  transition: transform .2s ease-out;
}
.heading__action-icon.heading__action-icon_active {
  transform: rotate(-180deg);
}
.ui-component-accordion__body.ui-component-accordion__body_animated {
  transition: padding .2s ease-out;
}
.ui-component-accordion__body {
  padding: 20px;
  opacity: 1;
}
.ui-component-accordion__panel.ui-component-accordion__panel_animated {
  transition: box-shadow .2s ease-out;
}
.ui-component-accordion__panel {
  border: 1px solid #e6e6e6;
  margin-bottom: 20px;
  border-radius: 2px;
  box-shadow: none;
  cursor: pointer;
}
.ui-component-dropdown__container {
  width: max-content;
}
.ui-component-dropdown {
  position: relative;
}
.ui-component-country-flag_us, .ui-component-country-flag_us:active {
  background-image: url('img/flag.png');
}
.ui-component-country-flag__button {
  background-position-x: 7px;
}
.ui-component-country-flag__button.ui-component-country-flag__button_style_with-flagname {
  padding-left: 30px;
  margin-right: 0;
}
.ui-component-country-flag {
  background-repeat: no-repeat;
  background-position-y: center;
}
.ui-component-dropdown__button {
  background-color: #fff;
  color: #222;
  border: 1px solid #e6e6e6;
  padding: 6px 12px;
  font-size: 14px!important;
  white-space: nowrap;
  line-height: 1.42857143;
}
.ui-component-dropdown__button-icon {
  margin-left: 5px;
  vertical-align: middle;
  font-size: 12px;
}
.address-component .address-element__address1__label-container, .address-component .address-element__address2__label-container, .address-component .address-element__attention-to__label-container, .address-component .address-element__business-tax-id__label-container, .address-component .address-element__city__label-container, .address-component .address-element__postal-code__label-container, .address-component .address-element__province__label-container {
  margin-top: 5px;
}
label {
  color: #666;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: .5px;
}
label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
}
.address-component .address-element__address1__input-container input, .address-component .address-element__address2__input-container input, .address-component .address-element__attention-to__input-container input, .address-component .address-element__business-tax-id__input-container input, .address-component .address-element__city__input-container input, .address-component .address-element__postal-code__input-container input, .address-component .address-element__province__input-container input {
  font-size: 14.5px;
  height: 35px;
  width: 100%;
  box-shadow: inset 2px 2px 3px 0 hsla(0,0%,86.7%,.5);
  border: 1px solid #e6e6e6;
  padding: 0 10px;
}
[class*=ui-component-grid]>[class*=ui-component-col-12] {
  flex-basis: 100%;
  max-width: 100%;
}
[class*=ui-component-grid]>:not([class*=_md-0]) {
  display: block;
}
.address-component .address-element__business-tax-id__label-container__text-wrap {
  display: inline-block;
  margin-right: 8px;
}
.ui-component-tooltip__anchor {
  display: inline-block;
}
a {
  cursor: pointer;
  color: #0070cc;
  text-decoration: none;
}
.address-component .address-element__business-tax-id__label-container i {
  color: #000;
}.address-component .address-element__business-tax-id__label-container i {
   color: #000;
 }
.ui-component-icon {
  display: inline-block;
  line-height: 0;
}
.address-component .address-element__business-tax-id__radio-container__wrapper {
  margin-bottom: 5px;
}
.address-component .address-element__business-tax-id__radio-container__wrapper--negative-confirmation, .address-component .address-element__business-tax-id__radio-container__wrapper--positive-confirmation {
  display: inline-block;
}
.ui-component-radio {
  font-family: sans-serif;
  line-height: 1.42857143;
  display: flex;
  font-size: 14px;
  min-height: 24px;
  margin: 0;
  align-items: center;
}
.ui-component-radio__label.ui-component-radio__label_checked {
  color: #222;
}
.ui-component-radio__label {
  position: relative;
  cursor: pointer;
  user-select: none;
  color: #222;
  margin: 0;
  min-height: 24px;
  display: flex;
  align-items: center;
}
.ui-component-radio__wrap {
  white-space: nowrap;
  outline: none;
  display: inline-block;
  position: relative;
  line-height: 1;
  vertical-align: sub;
  cursor: pointer;
}
.ui-component-radio__label-text {
  margin-left: 10px;
  font-weight: 400;
}
.ui-component-accordion, .ui-component-accordion *, .ui-component-accordion :after, .ui-component-accordion :before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media screen and (max-width: 64em){
[class*=ui-component-grid]:not([class*=_md-0]) {
  display: flex;
}
  [class*=ui-component-grid]>[class*=_md-12] {
    flex-basis: 100%;
    max-width: 100%;
  }
  [class*=ui-component-grid]>:not([class*=_md-0]) {
    display: block;
  }
  [class*=ui-component-grid]>[class*=_md-12] {
    flex-basis: 100%;
    max-width: 100%;
  }


}

